* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:flex-start;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
}   

.container {
    margin-top: 30px;
    
}

.profile {


    img {
        width: 120px;
        border: 3px solid rgb(205, 0, 255);
        border-radius: 50%;
    }

    h1 {
        font-size: 30p;
        letter-spacing: -1px;
        text-transform: uppercase;
        background: -webkit-linear-gradient( #cd00ff, #000122);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h2 {
        font-size: small;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #fff;
    }
}

.social {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 40px;

    img {
        width: 30px;
        border-radius: 50%;
        border: none;
        background-color: #ffffff;
        -webkit-text-fill-color: transparent;
        box-shadow: rgb(205, 0, 255) 0px 2px 4px 0px, rgb(205, 0, 255) 0px 2px 16px 0px;
    }

    img:hover {
        background-color: #cd00ff;
        box-shadow: rgb(255, 255, 255) 0px 2px 4px 0px, rgb(255, 255, 255) 0px 2px 16px 0px;
    }
}

.links {
    list-style: none;

    li {

        margin-bottom: 20px;

        a{
            display: block; /*separar os dois links*/
            color: #cd00ff;
            background-color: #000d55;
            padding:  10px 50px;
            font-weight: bold;
            text-decoration: none;
        }

        a:hover {
            color: #000522;
            background-color: #cd00ff;
            box-shadow: #fff;
        }
    }
}